<script>
  let curPage = 1;
  function loadMore() {
    fetch('/loadMore', {
      method: 'POST',
      headers: {
        'content-type':'application/json'
      },
      body: JSON.stringify({
        page: curPage,
      }),
      credentials: "include",
    }).then(function (res) {　　
      
      if(res.status == 200) {
        console.log(res);
        curPage++;
        res.text().then((text) => {
          console.log(text);
          addMoments(text);
        });
      } else {
        alert("commit failed");
      }
    });
  }

  function addMoments(moments) {
    $("#pager").before(moments)
  }

  
  $("#backTop").ready((obj)=>{
    let x = $("#contentContainer").offset().left + $("#contentContainer").width() - 10;
    $("#backTop").css("left", x);
    $("#backTop").hide();
  });

  $(window).scroll(function () {  
    if ($(window).scrollTop() > $(window).height() * 1.2) {  
      $("#backTop").show();  
    }
    else if ($(window).scrollTop() == 0) {  
      $("#backTop").hide();  
    }
  });

  function backToTop() {
    $("html,body").animate({scrollTop:0}, 500);
  }
</script>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div id="contentContainer" class="col-md-offset-2 col-md-8 col-xs-11 mx-auto">
      <a id="backTop" style="background-image: url(../img/res/back_top_btn.png);background-size:cover;
      position:fixed;bottom:40px;width:40px;height:40px;visibility:hidden" onclick="backToTop()"></a>
      
      {{#each articles}}
      <div class="post-preview">
        <a style="disabled">
          <h3 class="post-subtitle">
            {{content}}
          </h3>
          {{#if pictures}}
          <div class="container">
            {{#equals pictures/length 1}}
             {{#each pictures}}
              <img src="{{this}}" style="width:100%; max-width:180px;" /> 
             {{/each}}
            {{else}}
            <div class="row col-xs-12 col-sm-10 col-md-5">
              {{#each pictures}}
              <div class="col-xs-4 col-sm-4 col-md-4" style="padding-left:0px;padding-right:5px;padding-bottom:5px">
                <div style="width: 100%;height: 0px;padding-bottom: 100%;overflow:hidden;margin: 0;position:relative;
                        background-image: url({{this}});background-size: cover;background-position:center center">
                </div>
              </div>
              {{/each}}
            </div>
            {{/equals}}
          </div>
          {{/if}}
        </a>
        <p class="post-meta">
          {{post_date}}
        </p>
      </div>
      <hr>
      {{/each}}

      <!-- Pager -->
      <div id="pager" class="clearfix" style="margin-top:-10px;margin-bottom: 20px;{{#if hideMore}}visibility:hidden{{/if}}">
        <div  align="center">
          <a class="btn btn-primary" style="padding: 5px 30px" onclick="loadMore()">更多</a>        
        </div>
      </div>
    </div>
  </div>

</div>